{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API",
    "description": ""
  },
  "servers": [
    {
      "url": "https://veramo-jrtjw.ondigitalocean.app/",
      "description": "Public deployment",
      "variables": {}
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Development Server",
      "variables": {}
    }
  ],
  "paths": {
    "/did/add": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "example": "any"
                  },
                  "alias": {
                    "example": "any"
                  },
                  "keyType": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/did": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/did/{didUrl}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "didUrl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/vc/issue": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "didAlias": {
                    "example": "any"
                  },
                  "credential": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vc/verify": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/did/key/modify": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "did": {
                    "example": "any"
                  },
                  "kidToRemove": {
                    "example": "any"
                  },
                  "action": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}